@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#fil{
    width: 100%;
    height: 50px;
    background-color: #c5c5c5;
    font-family:'Ubuntu', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 1px;
}
#g{
    width: 400px;
    height: 802px;
    background-color: #088D10;
    padding: 5px 0 5px 0;
}

#container{
    margin-top: 100px;
    margin-bottom: -100px;
}

body html{margin: 0;}

.g > ul{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: snow;
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    width: 390px;
    padding-left: 5px;
}

.g > ul > li{
    display: flex;
    padding: 10px 20px;
    background: #007007;
    margin: 5px 0;
    transition: .5s;
}

.g > ul > li:hover
{
    transform: scale(1.02);
    background:#006607;
}